body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-color: #FAF8EF;
  height: 100vh;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
    height: 100vw;
  }
  .newGame {
    margin: 0 5%;
    padding: 5px 10px;
    font-size: 16px;
  }
  .score {
    height: 1vh;
  }
  #scoreTable {
    width: 80%;
    margin-right: 10px;
  }
  #bestScore {
    flex-wrap: wrap;
  }
  .score h3 {
    width: 50%;
    font-size: .4em;
  }
  .score h2 {
    font-size: .8em;
  }
  #readme {
    width: 90%;
  }  
  footer {
    width: 90%;
  }
  footer h3 {
    font-size: .8em;
  }
  footer p {
    font-size: .8em;
    padding-bottom: 20px;
  }
}
@media (min-width: 501px) and (max-width: 1025px) {
  .container {
    width: 40%;
    height: 40vw;
  }
  .newGame {
    margin: 0 5%;
    padding: 0 20px;
    font-size: 16px;
  }
  #scoreTable {
    width: 26%; 
  }
  #readme {
    padding-top: 10%;
    padding-bottom: 5%;
    width: 70%;
  }  
  .score {
    height: 7vh;
  }
  footer {
    width: 70%;
  }
  footer h3 {
    font-size: 1em;
    padding-top: 5%;
  }
  footer p {
    font-size: 1em;
    padding-bottom: 20px;
  }
}
@media (min-width: 1026px) {
  .container {
    width: 30%;
    height: 30vw;
  }
  .newGame {
    margin: 0 5%;
    padding: 0 20px;
    font-size: 16px;
  }
  .score {
    height: 7vh;
  }
  #scoreTable {
    width: 26%; 
  }
  #actualScore {
    margin-right: 5%;
  }
  #readme {
    padding-top: 10%;
    padding-bottom: 5%;
    width: 70%;
  }  
  footer {
    width: 70%;
  }
  footer h3 {
    font-size: 1em;
    padding-top: 5%;
  }
  footer p {
    font-size: .8em;
    padding-bottom: 3%;
  }
}

.container {
  box-sizing: border-box;
  background-color: #CDC1B4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: auto;
  border: 5px solid #BBADA0;
}
.box {
  font-size: 2.5em;
  border: 5px solid #BBADA0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
header {
  width: 100%;
  display: flex;
  height: 20vh;
  justify-content: center;
  align-items: center;
}
.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.score h3 {
  font-size: 14px;
}
.newGame {
  background-color: #f00;
  color: #F9F6F2;
  height: 50%;
  border-radius: 2px;
  border: transparent;
  font-weight: 700;
  letter-spacing: .5px;
}

.newGame:hover,
.newGame:focus {
  background-color: #f44;
  color: #F9F8F4;
  cursor: pointer;
}

#readme {
  display: block;
  margin: auto;
}

#readme h3 {
  color: #776E65;
}

footer {
  border-top: 2px solid #776E65;
  display: block;
  margin: auto;
}
footer h3 {
  font-size: .8em;
}