body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-color: #FAF8EF;
  height: 100vh;
}
@media (max-width: 500px) {
  header h1 {
    margin-left: 5px;
  }
  .container {
    width: 100%;
    height: 100vw;
  }
  .newGame {
    margin: 0 5%;
    padding: 10px 20px;
  }
  .score {
    margin-right: 5px;
  }
  .score h3 {
    font-size: .7em;
  }
  .score h2 {
    font-size: .9em;
  }
  #readme {
    width: 90%;
  }  
  footer {
    width: 90%;
  }
  footer h3 {
    font-size: .8em;
  }
  footer p {
    font-size: .8em;
    padding-bottom: 20px;
  }
}
@media (min-width: 501px) and (max-width: 1025px) {
  .container {
    width: 40%;
    height: 40vw;
  }
  .newGame {
    margin: 0 5%;
    padding: 20px 30px;
  }
  #readme {
    padding-top: 10%;
    padding-bottom: 5%;
    width: 70%;
  }  
  .score {
    height: 4vh;
  }
  .score h3 {
    font-size: .9em;
  }
  .score h2 {
    font-size: 1.1em;
  }
  footer {
    width: 70%;
  }
  footer h3 {
    font-size: 1em;
    padding-top: 5%;
  }
  footer p {
    font-size: 1em;
    padding-bottom: 20px;
  }
}
@media (min-width: 1026px) {
  .container {
    width: 30%;
    height: 30vw;
  }
  .newGame {
    margin: 0 5%;
    padding: 20px 35px;
  }
  .score {
    height: 5vh;
  }
  .score h3 {
    font-size: 1em;
  }
  .score h2 {
    font-size: 1.2em;
  }
  #readme {
    padding-top: 10%;
    padding-bottom: 5%;
    width: 70%;
  }  
  footer {
    width: 70%;
  }
  footer h3 {
    font-size: 1em;
    padding-top: 5%;
  }
  footer p {
    font-size: .8em;
    padding-bottom: 3%;
  }
}

header {
  color: #4B4E4D;
}
.container {
  box-sizing: border-box;
  background-color: #CDC1B4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: auto;
  border: 5px solid #BBADA0;
}
.box {
  font-size: 2em;
  border: 4px solid #BBADA0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
header {
  display: flex;
  height: 20vh;
  justify-content: center;
  align-items: center;
}
.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4B4E4D;
}
.newGame {
  background-color: #FE4A49;
  color: #F9F6F2;
  border-radius: 2px;
  border: transparent;
  font-weight: 700;
  letter-spacing: .5px;
}
.newGame:hover,
.newGame:focus {
  background-color: #f44;
  color: #F9F8F4;
  cursor: pointer;
}
#readme {
  display: block;
  margin: auto;
}
#readme h3 {
  color: #776E65;
}
footer {
  border-top: 2px solid #776E65;
  display: block;
  margin: auto;
}
footer h3 {
  font-size: .8em;
}